.container {
  display: grid;
  grid-template-columns: 1fr 4fr; /* Chiếm 1/5 và 4/5 của màn hình */
  gap: 10px; /* Khoảng cách giữa các cột */
  background-color: #f5f5f5;
  height: 100vh;
}

.questioncard-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.left-pane {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  align-items: center;
}
.right-pane {
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.questioncard {
  width: 250px;
  height: 75px;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
}

.questioncard.selected {
  background-color: #ffe4f6;
  border-color: #f04393;
}

.questioncard-details {
  color: black;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questioncard-button {
  width: 60%;
  border-radius: 1rem;
  border: none;
  background: linear-gradient(53deg, #fab779 0%, #e73688 58%);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.3s ease-out;
  align-items: center;
  justify-content: center;
}

.text-body {
  color: rgb(134, 134, 134);
  font-size: 10pt;
  margin-top: -5px;
}

.text-title {
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 5px;
  color: #f04393;
}

.questioncard:hover {
  border-color: #f04393;
  box-shadow: 0 4px 18px 0 rgba(216, 60, 132, 0.5);
  background-color: #ffeef9;
}

.questioncard:hover .questioncard-button {
  opacity: 1;
}

.question-block {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.question-and-answer {
  text-align: center;
  border: 1px solid #f04393;
  border-radius: 20px;
  color: #f04393;
}
.sub-question {
  border: 1px solid #f04393;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  color: #f04393;
}
.importance-question {
  border: 1px solid #f04393;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  color: #f04393;
}
.question-and-answer h2 {
  font-size: 18px;
}

.options-grid {
  display: flex;
  gap: 10pt;
  flex-wrap: wrap;
  justify-content: center;
}

.option-button {
  padding: 0.75rem 1.5rem;
  font-size: 12pt;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 500;
  color: #b4326e;
  background-color: #fffafd;
  border: none;
  border-radius: 18pt;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  line-height: 16pt;
  margin-bottom: 10pt;
  margin-top: 20px;
}

.option-button:hover {
  background-color: #ffeef9;
  box-shadow: 0px 15px 20px rgba(240, 67, 147, 0.4);
  color: #b4326e;
  font-weight: bold;
  transform: translateY(-7px);
}

.option-button:active {
  background-color: #ffe4f6;
  color: #b4326e;
  box-shadow: none;
  transform: translateY(-1px);
}
.option-button.selected {
  background: linear-gradient(45deg, #ffc691 0%, #f04393 84%);
  color: #fff;
  font-weight: bold;
}

.radio-input {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.star {
  cursor: pointer;
}

body {
  font-family: "Roboto-Regular", sans-serif;
}
.radio-input {
  display: flex;
  scale: 0.15;
  transform: rotate(180deg);
  margin: 0;
}

.star {
  margin: 1em;
  appearance: none;
  --color: black;
  border-left: 8em solid transparent;
  border-right: 8em solid transparent;
  border-bottom: 5em solid var(--color);
  transform: rotate(0deg);
  cursor: pointer;
  position: relative;
}

.star:before {
  content: "";
  border-left: 8em solid transparent;
  border-right: 8em solid transparent;
  border-top: 5em solid var(--color);
  position: absolute;
  left: -8em;
  transform: rotate(108deg);
}

.star:after {
  content: "";
  border-left: 8em solid transparent;
  border-right: 8em solid transparent;
  border-top: 5em solid var(--color);
  position: absolute;
  left: -8em;
  transform: rotate(253deg);
}

.radio-input > .star:hover ~ .star,
.radio-input > .star:hover,
.radio-input > .star:checked ~ .star,
.radio-input > .star:checked {
  --color: pink;
}

.radio-input > .star:checked ~ .star,
.radio-input > .star:checked {
  animation: grow 0.5s linear forwards;
  transition: transform 0.3s;
}

@keyframes grow {
  10% {
    scale: 2;
  }
}

.progress-container {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #ddd;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.progress-bar {
  position: relative;
  height: 100%;
  background-color: transparent;
  transition: width 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar.filled {
  background-color: #e73788;
}

.next-button {
  bottom: 145px;
  left: 82%;
  display: flex;
  width: 160px;
  height: 80px;
  margin-left: 100px;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0em 1em 1em;
  background-color: #fab779;
  cursor: pointer;
  box-shadow: 4px 6px 0px white;
  border: 4px solid;
  border-radius: 15px;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  transition: box-shadow 250ms, transform 250ms, filter 50ms;
}
.next-button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 3px 0px white;
}
.next-button:active {
  filter: saturate(0.75);
}
.next-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #e73688;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
.next-button:hover::after {
  transform: translateX(0);
}
.bgContainer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  max-width: 35%; /* adjust this if the button text is not proper */
  font-size: 1.5em;
  font-weight: 600;
}
.bgContainer span {
  position: relative;
  transform: translateX(-100%);
  transition: all 250ms;
}
.next-button:hover .bgContainer > span {
  transform: translateX(0);
}
.arrowContainer {
  padding: 1em;
  margin-inline-end: 1em;
  border: 4px solid;
  border-radius: 50%;
  background-color: #e73688;
  position: relative;
  overflow: hidden;
  transition: transform 250ms, background-color 250ms;
  z-index: 100;
}
.arrowContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: #fab779;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 250ms ease-in-out;
}
.next-button:hover .arrowContainer::after {
  transform: translateX(0);
}
.next-button:hover .arrowContainer {
  transform: translateX(5px);
}
.next-button:active .arrowContainer {
  transform: translateX(8px);
}
.arrowContainer svg {
  vertical-align: middle;
}
.survey-title {
  display: flex;
  align-items: center;
  width: 275px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
}
.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  margin-left: 220px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
  background: linear-gradient(to right, #f45c43, #eb3349);
  box-shadow: 0 0px 10px #de1c3280;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
  filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
  filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__close path {
  fill: #fff;
}
.success {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 320px;
  padding: 12px;
  margin-left: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #84d65a;
  border-radius: 20px;
  box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #393a37;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #393a37;
}

.success__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.success__close path {
  fill: #393a37;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 250px;
  height: 80px;
}

.slider {
  overflow: hidden;
  background-color: white;
  margin: 0 15px;
  height: 80px;
  width: 20px;
  border-radius: 30px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
    inset -5px -5px 10px rgba(0, 0, 255, 0.1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
    inset 0px 0px 0px rgba(0, 0, 0, 0.1);
  animation: animate_2 2.5s ease-in-out infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate_2 {
  0% {
    transform: translateY(250px);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
    filter: hue-rotate(180deg);
  }
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
