body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}
.root-home {
  background-color: #ffff;
  width: 100%; /* Đảm bảo chiều rộng của div là 100% */
  height: 100vh; /* Đảm bảo chiều cao của div là 100% */
}
#root {
  height: 100%;
}

.title {
  color: #ffff;
  font-size: 35px;
  background-color: #f04393;
  width: 100%; /* Đảm bảo chiều rộng của div là 100% */
  height: 45px;
  display: flex; /* Sử dụng flexbox */
  align-items: center; /* Căn dọc giữa */
  justify-content: center; /* Căn ngang giữa */
  font-weight: bold;
  position: relative; /* Đặt vị trí là relative để có thể sử dụng z-index */
  z-index: 2;
  font-family: "Righteous";
}
