.options-grid {
  display: flex;
  gap: 10pt;
}

.option-button {
  padding: 0.75rem 1.5rem;
  font-size: 12pt;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 500;
  color: #b4326e;
  background-color: #fffafd;
  border: none;
  border-radius: 18pt;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  line-height: 16pt;
  margin-bottom: 10pt;
}

.option-button:hover {
  background-color: #ffeef9;
  box-shadow: 0px 15px 20px rgba(240, 67, 147, 0.4);
  color: #b4326e;
  font-weight: bold;
  transform: translateY(-7px);
}

.option-button:active {
  transform: translateY(-1px);
}
body {
  font-family: "Roboto-Regular", sans-serif;
}

.option-button,
.question-block h2,
.sub-question h3,
.importance h3 {
  font-family: "Roboto-Regular", sans-serif;
}
.radio-input {
  display: flex;
  scale: 0.15;
  transform: rotate(180deg);
}

.star {
  margin: 1em;
  appearance: none;
  --color: black;
  border-left: 6.4721359549996em solid transparent;
  border-right: 6.4721359549996em solid transparent;
  border-bottom: 4em solid var(--color);
  transform: rotate(0deg);
  cursor: pointer;
}

.star:before {
  content: "";
  border-left: 6.4721359549996em solid transparent;
  border-right: 6.4721359549996em solid transparent;
  border-top: 4em solid var(--color);
  position: absolute;
  left: -6.4721359549996em;
  transform: rotate(108deg);
}

.star:after {
  content: "";
  border-left: 6.4721359549996em solid transparent;
  border-right: 6.4721359549996em solid transparent;
  border-top: 4em solid var(--color);
  position: absolute;
  left: -6.4721359549996em;
  transform: rotate(253deg);
}

.radio-input > .star:hover ~ .star,
.radio-input > .star:hover,
.radio-input > .star:checked ~ .star,
.radio-input > .star:checked {
  --color: yellow;
}

.radio-input > .star:checked ~ .star,
.radio-input > .star:checked {
  animation: grow 0.5s linear forwards;
  transition: transform 0.3s;
}

@keyframes grow {
  10% {
    scale: 2;
  }
}
.card {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
