.swipe-Card {
  width: 300px;
  height: 150%;
  background-color: #ff69b4; /* Màu hồng */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}

.swipe-Card h1 {
  margin: 10px 0;
}

.swipe-Card span {
  margin-bottom: 5px;
}
